.flexBlog {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.flexImg {
  width: 33%;
}

.flexTxt {
  width: 66%;
}
img {
  width: 100%;
}

section {
  padding-bottom: 1rem;
  padding: 2rem 0 2rem 0;
}

time {
  border-style: solid;
  border-color: #5b8266;
  border-radius: 1rem;
  padding: 5px;
  margin-top: 1rem;
  font-family: roboto;
  color: #5b8266;
}

.flexTime {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.separator {
  border-top-style: solid;
  border-color: #344e41;
}
