.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

header nav ul li {
  display: inline-block;
  text-decoration: none;
}

body {
  margin: 0;
}

@font-face {
  font-family: roboto;
  src: url(font\Roboto\Roboto-Regular.ttf);
}

@font-face {
  font-family: montez;
  src: url(font\montez\Montez-Regular.ttf);
}

/*-------------Header/Footer-------------*/


header {
  background-color: #14453d;
  margin-top: 0;
}

h1 {
  margin-top: 0;
}

.flexHF {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul {
  text-decoration: none;
  font-family: roboto;
  text-align: right;
}

nav ul li a {
  text-decoration: none;
  margin-left: 1rem;
  color: #d3d3d3;
  text-align: center;
  margin-right: 1rem;
  font-family: roboto;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li a:visited {
  color: #d3d3d3;
}

/*-------------Body-------------*/

/*-------------Body temporaire pour tester ma page-------------*/
body {
  background-color: #5b8266;
}
