#loc {
  list-style-image: url(../img/nousJoindreImg/map.ico);
}

#mail {
  list-style-image: url(../img/nousJoindreImg/mail.ico);
}

#phone {
  list-style-image: url(../img/nousJoindreImg/phone.ico);
}

#loc::marker {
  font-size: 1rem;
}
